{% extends 'AtosMissionRecensementBundle::layout.html.twig' %}

{% block title -%}
    Édition spécialité métier
{% endblock %}

{% block pre_container %}
    <h1>Édition de spécialité métier</h1>
{% endblock %}

{% block container -%}

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('specialitemetier') }}">
            Retour à la liste
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
