{% extends 'AtosMissionRecensementBundle::layout.html.twig' %}

{% block title %}
    Création spécialité métier
{% endblock %}

{% block pre_container %}
    <h1>Création spécialité métier</h1>
{% endblock %}

{% block container -%}

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('specialitemetier') }}">
            Retour à la liste
        </a>
    </li>
</ul>
{% endblock %}
