{% extends 'AtosMissionRecensementBundle::layout.html.twig' %}

{% block title -%}
    Édition type
{% endblock %}

{% block pre_container %}
    <h1>Édition de type</h1>
{% endblock %}

{% block container -%}

    {{ form(edit_form) }}

    <p></p>

    <div class="record_actions">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <a href="{{ path('type') }}">
                    <button type="button" class="btn btn-primary">{{ icon('th-list') }} Retour à la liste</button>
                </a>
            </div>
            <div class="btn-group">{{ form(delete_form) }}</div>
        </div>
    </div>
{% endblock %}
