{% extends 'AtosMissionRecensementBundle::layout.html.twig' %}

{% block title -%} 
    Liste des types
{% endblock %}

{% block pre_container %}
    <h1>Liste des types</h1>
{% endblock %}

{% block container -%}

    <table class="records_list table table-hover table-striped table-condensed">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nom }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('type_show', { 'id': entity.id }) }}">Visualiser</a>
                    </li>
                    <li>
                        <a href="{{ path('type_edit', { 'id': entity.id }) }}">Éditer</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('type_new') }}">
                Créer une nouvelle entrée
            </a>
        </li>
    </ul>
    {% endblock %}
