{% extends 'AtosMissionRecensementBundle:Mission:index.html.twig' %}

{% block title %} 
    Liste des missions - {{ employe }}
{% endblock %}

{% block body_title %}
    <h1>Liste de missions</h1>
    <h2>Employé : {{ employe }}</h2>
{% endblock %}
