{% extends 'AtosMissionRecensementBundle::layout.html.twig' %}

{% block title -%}
    Édition type prestation#
{% endblock %}

{% block body -%}
    <h1>Édition de type de prestation</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('typeprestation') }}">
            Retour à la liste
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
