{% extends 'AtosMissionRecensementBundle::layout.html.twig' %}

{% block title %}
    Création type prestation
{% endblock %}

{% block pre_container %}
    <h1>Création type prestation</h1>
{% endblock %}

{% block container -%}

    {{ form(form) }}

    <p></p>
    <div class="record_actions">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <a href="{{ path('typeprestation') }}">
                    <button type="button" class="btn btn-primary">{{ icon('th-list') }} Retour à la liste</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
