{% extends 'AtosMissionRecensementBundle::layout.html.twig' %}

{% block title %}
    Création client
{% endblock %}

{% block pre_container %}
    <h1>Création client</h1>
{% endblock %}

{% block container -%}

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('client') }}">
            Retour à la liste
        </a>
    </li>
</ul>
{% endblock %}
